@import './colors.scss';
@import './game.scss';
$btn-size: 50px;

#app {
	@import './menu.scss';

	position: absolute;
	z-index: 5;

	button {
		min-height: 25px;
		background-color: rgb(210, 210, 210);
		border: none;

		position: relative;
		@include border($green-4);

		img {
			vertical-align: middle;
		}

		&:disabled {
			opacity: 0.75;
			background-color: rgb(225, 225, 225)
		}
		&:active {
			@include border($green-2);
		}
		&:focus {
			z-index: 10;
			outline: none;
		}
		&:hover:not(:disabled) {
			&:active {
				box-shadow: inset 0 0 14px 1px rgba(0, 0, 0, 0.259);
			}
		}
	}
}
