@import './tabs.scss';

.menu {
	background-color: rgb(244, 244, 244);
	border: none;
	width: 273px;
	display: inline-block;

	.menu-top-row {
		display: flex;
		flex-direction: row;

		.btn-play {
			height: $btn-size;
			flex: 2;
			&.playing {
				background-color: green;
			}
		}
	}

	.board-size-row {
		height: 50px;
		display: flex;

		.board-size {
			flex: 1;

			.label {
				padding: 0 5px;
			}
		}

		button {
			height: 50px;
			width: 50px;
			margin: 5px;
		}

		.current-size {
			display: inline-block;
			text-align: center;
			width: 25px;
		}
	}
}

button {
	min-height: 25px;
	background-color: rgb(210, 210, 210);
	border: none;

	img {
		vertical-align: middle;
	}

}
