
.menu {
	background-color: gray;
	border: 1px solid black;
	width: 20%;
	height: 200px;

}

.control-board-table {
	background-color: white;
	border: 1px solid black;
	.table-cell {
		background-color: white;
		display: inline-block;
		border: 1px solid black;
	}
}
