.menu {
	background-color: lightgray;
	border: none;
	width: 275px;
	display: inline-block;
}

.control-board-table {
	background-color: white;
	border-collapse: collapse;
	border: none;
	width: 100%;
	.table-cell {
		background-color: white;
		display: inline-block;
		border: 1px solid black;
		padding: 0;
		height: 50px; width: 50px;
		&.live { background-color: green; }
		&.dead { background-color: red; }
	}
}
