.slider {
	display: flex;

	button {
		height: $btn-size;
		width: $btn-size;
		position: relative;

		&.up, &.down {
			@include border($green-1)
		}
		&.up {
			float: right;
		}
	}
	.slider-bar {
		height: $btn-size;
		background-color: $grey-1;
		width: 100%;
		padding: 0 15px;
		position: relative;
		@import 'sliderStyles.scss';
	}
}

.control-board-table {
	background-color: white;
	border-collapse: collapse;
	border: none;
	width: 100%;
	.table-cell {
		display: inline-block;
		border: 1px solid black;
		padding: 0;
		height: 50px; width: 50px;
		&.live { background-color: $green-1; }
		&.dead { background-color: $green-4; }
	}
}
