

.control-board-table {
	background-color: white;
	border-collapse: collapse;
	border: none;
	width: 100%;
	.table-cell {
		display: inline-block;
		border: 1px solid black;
		padding: 0;
		height: 50px; width: 50px;
		&.live { background-color: $green-1; }
		&.dead { background-color: $green-4; }
	}
}
